@model IEnumerable<CategoriaDTO>

@{
    ViewData["Title"] = "Categorias";

    int totalOfPages = (int)ViewBag.TotalOfPages;
    int currentPage = (int)ViewBag.CurrentPage;

    int nextPage = totalOfPages > currentPage ? currentPage + 1 : 0;
    int previousPage = currentPage > 1 ? currentPage - 1 : 0;

    bool hasNextPage = nextPage > 0;
    bool hasPreviousPage = previousPage > 0;
}

<div class="container-sm mt-4">

    <div class="row g-lg-3 text-center">
        <div class="col-lg-3">
            <h1>
                Categorias
            </h1>
        </div>
        <div class="offset-lg-4 col-lg-2 mb-2">
            <a class="btn btn-lg btn-danger" asp-action="Index" asp-controller="Conhecimento">Cancelar</a>
        </div>
        <div class="col-lg-2 mb-2">
            <a class="btn btn-lg btn-outline-primary text-nowrap" asp-action="GetCategoria">Nova Categoria</a>
        </div>

    </div>

    <hr />

    @if (Model.Any())
    {
        <div class="row g-lg-3 mt-4">
            <table class="table table-responsive-lg table-hover table-striped tabela-categorias">
                <thead>
                    <tr>
                        <th scope="col" class="fw-bold text-center">Nome</th>
                        <th scope="col" class="fw-bold text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (CategoriaDTO categoria in Model)
                    {
                        <tr class="fs-6">
                            <td class="align-middle text-center">@categoria.Nome</td>
                            <td class="align-middle text-center">
                                <a class="btn btn-lg btn-outline-danger" asp-action="Delete" asp-route-id="@categoria.Id">
                                    Apagar
                                </a>
                                <a class="btn btn-lg btn-outline-primary" asp-action="GetCategoria" asp-route-id="@categoria.Id">
                                    Editar
                                </a>
                                <a class="btn btn-lg btn-outline-dark" asp-controller="Conhecimento" asp-action="Index" asp-route-searchTerm="@categoria.Nome">
                                    Conhecimentos
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @if (totalOfPages > 1)
        {
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item @(hasPreviousPage ? "" : "disabled")">
                        <a class="page-link" asp-controller="Categoria" asp-action="Index" asp-route-page="@previousPage">Anterior</a>
                    </li>
                    <li class="page-item @(hasNextPage ? "" : "disabled")">
                        <a class="page-link" asp-controller="Categoria" asp-action="Index" asp-route-page="@nextPage">Próxima</a>
                    </li>
                </ul>
            </nav>
        }

    }
    else
    {
        <p>Não existem Categorias cadastradas. <a class="btn btn-outline-primary" asp-action="GetCategoria">Cadastre sua primeira Categoria.</a></p>
    }
</div>